.navigation-bar{
  background-color: #354955;
  height: 50px;
  display: flex;
  justify-content: center;
}
.nav-link{
  color: #fff;
}
.hero{
  background-color:#1F2428 ;
  min-height: 70vh;
  color: #fff;
}
#profile-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.hero--content{
  margin: 0 auto;
  width: 800px;
  padding-top: 3em;
}
.hero--content--intro{
  display: flex;
  color: #fff;
  align-items: center;
  gap: 2em;
  justify-content: center;
  margin-bottom: 3em;
}
.intro--name{
  font-size: 100px;
  letter-spacing: .1em;
  font-weight: 700;
}
.description{
  font-size: 65px;
  text-align: center;
}
.slogan{
  font-size: 24px;
  text-align: center;
}
.project--thumbnail{
  width: 100%;
}
/* .project--column{

} */
.projects--wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 2em;
}
.project--body{
  background-color: #fff;
  padding:1em;
  margin-bottom: 2em;
}
body{
  background-color: #e5e5e5 !important;
}
.section--1{
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}
.section--2{
  background-color: #e5e5e5;
  padding-top: 2em;
  padding-bottom: 2em;
}
.skills--container{
  width: 600px;
  margin: 0 auto;
  padding: 1em;
}
.skill--wrapper{
  margin-top: 2em;
  margin-bottom: 2em;
}
.skill--tag{
  background-color: #c4e7f2;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
}

.other--skills--wrapper{
  display: flex;
  gap: 1em;
}


@media (max-width:900px){
  .hero--content--intro{
    flex-direction: column;
  }
  .projects--wrapper{
    grid-template-columns: 1fr;
  }
}

@media (max-width:600px){
  .skills--container{
    width: 100%;
  }
}

@media (max-width:800px){
  .hero--content{
    width: 100%;
  }

}

