.navigation-bar{
  background-color: #1F2428;
  height: 50px;
  display: flex;
  justify-content: center;
}
.nav-link{
  color: #fff;
}
.hero{
  background-color:#1F2428 ;
  height: 70vh;
  color: #fff;
}
#profile-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.hero--content{
  margin: 0 auto;
  width: 800px;
  padding-top: 3em;
}
.hero--content--intro{
  display: flex;
  color: #fff;
  align-items: center;
  gap: 2em;
  justify-content: center;
  margin-bottom: 3em;
}
.intro--name{
  font-size: 100px;
  letter-spacing: .1em;
  font-weight: 700;
}
.description{
  font-size: 65px;
  text-align: center;
}
.slogan{
  font-size: 24px;
  text-align: center;
}
.project--thumbnail{
  width: 100%;
}
/* .project--column{

} */
.projects--wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 2em;
}
.project--body{
  background-color: #fff;
  padding:1em;
  margin-bottom: 2em;
}
body{
  background-color: #e5e5e5 !important;
}